.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 68px;

    position: absolute;
    width: 640px;
    height: 448px;
    left: 0px;
    top: 128px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.login__title{
    width: 269px;
    height: 77px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: flex-end;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.login__input{
    width: 269px;
    height: 77px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: flex-end;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn{
    
    width: 640px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
#btn__login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    position: absolute;
    width: 119px;
    height: 69px;
    left: 132px;
    top: 0px;

    background: #EFDCD5;
}
#btn__signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    position: absolute;
    width: 148px;
    height: 69px;
    left: 379px;
    top: 0px;

    background: #EFDCD5;
}